body {
    background: #000;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
#game-container {
    width: 100vw;
    height: 300px;
    border-bottom: 5px solid #00ff41;
    position: absolute;
    bottom: 50%;
}
#player {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50px;
    font-size: 40px;
}
#obstacle {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: -50px;
    font-size: 35px;
}
.jump {
    animation: jump 0.5s ease;
}
@keyframes jump {
    0% { bottom: 0; }
    30% { bottom: 150px; }
    70% { bottom: 150px; }
    100% { bottom: 0; }
}
#score { color: #00ff41; font-size: 30px; padding: 20px; }
#game-over { display: none; color: white; text-align: center; margin-top: 100px; }
